<form [formGroup]="formLogin">

    <div class="grid">
        <div class="col-12">
            <p-dialog [(visible)]="openModal" header="¿Quien anda ahí?" [style]="{width: '30vw'}" [modal]="true" class="p-fluid">
                <ng-template pTemplate="content">
                
                    <div class="form-group field mt-5 fadeinup animation-duration-500">
                        <span class="p-float-label pt-2">
                            <input type="text" pInputText id="email" formControlName="email" class="p-inputtext-sm" />
                            <label htmlFor="email" class="text-lg font-bold lynch-600"><span class="text-red-500">*</span> Email</label>
                        </span>
                        <small class="p-error block mt-2" *ngIf="formLogin.controls['email'].touched && formLogin.get('email')?.hasError('required')" >El campo Correo es obligatorio</small>
                        <!-- <small class="p-error block mt-2" *ngIf="formLogin.get('email')?.hasError('email')">El campo Email debe ser un correo válido.</small> -->
                    </div>
                    
                    <div class="form-group field mt-5 fadeinup animation-duration-500">
                        <span class="p-float-label pt-2">
                            <p-password id="password" formControlName="password" class="p-inputtext-sm" [toggleMask]="true" [feedback]="false"></p-password>
                            <label htmlFor="password" class="text-lg font-bold lynch-600"><span class="text-red-500">*</span> Contraseña</label>
                        </span>
                        <small class="p-error block mt-2" *ngIf="formLogin.controls['password'].touched && formLogin.get('password')?.hasError('required')" >El campo Contraseña es obligatorio</small>
                    </div>
                    
                </ng-template>
                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-secondary p-button-rounded mr-2 p-button-sm sombra-black hover-secondary" (click)="hideModal()"></button>
                    <button pButton pRipple label="Login" icon="pi pi-sign-in" class="p-button-warning p-button-rounded mr-2 sombra-black p-button-sm hover-warning" (click)="submitLogin()"
                        [loading]="isLoading"
                        [disabled]="formLogin.invalid">
                    </button>
                </ng-template>
            </p-dialog>
        </div>
    </div>
</form>