<p-toolbar>
    <ng-template pTemplate="left">
        <div class="my-2">
            <p-button icon="pi pi-plus" label="" pTooltip="Create" styleClass="p-button-sm p-button-rounded mr-2 p-button-info sombra-black hover-info"
                (click)="create()"></p-button>
            <p-button icon="pi pi-pencil" label="" pTooltip="Edit"  styleClass="p-button-sm p-button-rounded mr-2 p-button-warning sombra-black hover-warning" 
                (click)="edit()"></p-button>
            <p-button icon="pi pi-trash" label="" pTooltip="Delete" styleClass="p-button-sm p-button-rounded mr-2 p-button-danger sombra-black hover-danger"
                (click)="deleteEntity()"></p-button><ng-content></ng-content>
        </div>
    </ng-template>
    <ng-template pTemplate="right">
        <button pButton pRipple type="button" icon="pi pi-sync" class="p-button-rounded p-button-info p-button-text" (click)="reload()"></button>
    </ng-template>
</p-toolbar>
