<p-table
    #dt1
    [value]="users()"
    [paginator]="true"
    [rows]="rows"
    [showCurrentPageReport]="true"
    
    currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} elementos"
    [rowsPerPageOptions]="optionsPage()"
    styleClass="p-datatable-sm p-datatable-gridlines"
    [(first)]="firstPage"
    selectionMode="single"
    [selection]="selectedUser()"
    dataKey="id"

    [loading]="loading()"
    [globalFilterFields]="['usuario','idFuncionario.idPersona.nombre', 'idFuncionario.idPersona.apellidoPat', 'idFuncionario.idPersona.apellidoMat','idFuncionario.idCargo.descripcion', 'idFuncionario.idUnidad.descripcion']"
    (onRowSelect)="onRowSelect($event)"
    (onRowUnselect)="onRowUnselect()"
>
    <ng-template pTemplate="caption">
        <div class="flex">
            
            <h3 >Listado de Usuarios</h3>
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="onGlobalFilter(dt1, $event)" placeholder="Buscar en la tabla" />
            </span>
        </div>
    </ng-template>
    
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="usuario">Usuario <p-sortIcon field="usuario"></p-sortIcon></th>
            <th pSortableColumn="idFuncionario">Nombre Funcionario <p-sortIcon field="idFuncionario"></p-sortIcon></th>
            <th pSortableColumn="idFuncionario">Cargo <p-sortIcon field="idFuncionario"></p-sortIcon></th>
            <th pSortableColumn="idFuncionario">Unidad<p-sortIcon field="idFuncionario"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr [pSelectableRow]="user">
            <td>{{ user.usuario }}</td>
            <td>{{ user.idFuncionario.idPersona.nombre }} {{ user.idFuncionario.idPersona.apellidoPat }} {{ user.idFuncionario.idPersona.apellidoMat }}</td>
            <td>{{ user.idFuncionario.idCargo.descripcion }}</td>
            <td>{{ user.idFuncionario.idUnidad.descripcion }}</td>
        </tr>
    </ng-template>
</p-table>