<div class="custom-skeleton pr-4">
    <ul class="m-0 o-0">
      <li class="mb-3">
        <div class="flex">
          <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
          <div style="flex: 1">
            <p-skeleton width="100%" styleClass="mt-1 mb-1"></p-skeleton>
            <p-skeleton width="75%" styleClass="mb-1"></p-skeleton>
            <p-skeleton width="85%"></p-skeleton>
          </div>
        </div>
      </li>
      <li class="mb-3">
        <div class="flex">
          <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
          <div style="flex: 1">
            <p-skeleton width="100%" styleClass="mt-1 mb-1"></p-skeleton>
            <p-skeleton width="75%" styleClass="mb-1"></p-skeleton>
            <p-skeleton width="85%"></p-skeleton>
          </div>
        </div>
      </li>
      <li class="mb-3">
        <div class="flex">
          <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
          <div style="flex: 1">
            <p-skeleton width="100%" styleClass="mt-1 mb-1"></p-skeleton>
            <p-skeleton width="75%" styleClass="mb-1"></p-skeleton>
            <p-skeleton width="85%"></p-skeleton>
          </div>
        </div>
      </li>
      <li class="mb-3">
        <div class="flex">
          <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
          <div style="flex: 1">
            <p-skeleton width="100%" styleClass="mt-1 mb-1"></p-skeleton>
            <p-skeleton width="75%" styleClass="mb-1"></p-skeleton>
            <p-skeleton width="85%"></p-skeleton>
          </div>
        </div>
      </li>
    </ul>
  </div>
  