spacer {
    flex: 1 1 auto;
}

a {
    text-decoration: none;
    color: #fff;
}

.mouseHover:hover {
    cursor: pointer;
    transition: all 0.7 ease-in-out;
}

.card {
    background: white;
    
}

.white-menubar .p-menubar{
    background-color: aqua;
}