    <p-menubar [model]="items" styleClass="white-menubar" [style]="{ 'position': 'sticky', 'top': 0, 'z-index': 1000 }">
        <ng-template pTemplate="start">
            <a [routerLink]="['/']">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Escudo_de_Bolivia.svg/2430px-Escudo_de_Bolivia.svg.png" height="40" class="mr-2" />
            </a>            
        </ng-template>
        <ng-template pTemplate="end">
            <div class="flex">
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Buscar..." (input)="filterHeader($event)"  class="w-full sm:w-auto mr-2"/>
                </span>
                <ng-container *ngIf="localStorageService.get('username'); else logout" >
                    <button pButton pRipple icon="pi pi-user mr-2" (click)="menuLogin.toggle($event)" class="p-button-rounded ml-2"  > {{ localStorageService.get('username') }} </button>
                    <p-menu #menuLogin [model]="itemsLogin" [popup]="true"></p-menu>
                </ng-container>
                <ng-template #logout>
                    <button pButton pRipple icon="pi pi-external-link" (click)="redirectLogin()" class="p-button-rounded ml-2"  ></button>
                </ng-template>
            </div>
        </ng-template>
    </p-menubar>